<div class="noItems" ng-hide="items.$getIndex().length">Have no Items</div>
<ul>
  <li ng-repeat="(id, item) in items">
    <span>
      <input type="text" ng-model="item.title" ng-blur="update(id)"/>
    </span>
    <span>
      <input type="text" ng-model="item.dummy" ng-blur="update(id)"/>
    </span>
    <span>
      <a ng-click="del(id)">del</a>
    </span>
  </li>
</ul>

<form novalidate ng-submit="create()">
  <input type="text" ng-model="newItem.title" placeholder="title"/>
  <input type="text" ng-model="newItem.dummy" placeholder="dummy"/>
  <button type="submit">create</button>
</form>

<section class="canvas">
  <div class="wrapper">
    <h3 class="title">{{canvas.title}}</h3>
    <div class="pure-g">
      <div class="pure-u-1-5">
        <div class="item-wrapper">
          <div class="item">
            <h4 class="title">Problem</h4>
            <ul class="contents">
              <li ng-repeat="item in canvas.items">{{}}</li>
            </ul>
          </div>
          <div class="item">
            <h4 class="title">Existing Alternatives</h4>
            <ul class="contents">
              <li ng-repeat="item in canvas.items">{{}}</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="pure-u-1-5">
        <div class="item-wrapper">
          <div class="item">
            <h4 class="title">Solution</h4>
            <ul class="contents">
              <li ng-repeat="item in canvas.items">{{}}</li>
            </ul>
          </div>
          <div class="item">
            <h4 class="title">Key Metrics</h4>
            <ul class="contents">
              <li ng-repeat="item in canvas.items">{{}}</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="pure-u-1-5">
        <div class="item-wrapper">
          <div class="item">
            <h4 class="title">Unique Value Proposition</h4>
            <ul class="contents">
              <li ng-repeat="item in canvas.items">{{}}</li>
            </ul>
          </div>
          <div class="item">
            <h4 class="title">High Level Concept</h4>
            <ul class="contents">
              <li ng-repeat="item in canvas.items">{{}}</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="pure-u-1-5">
        <div class="item-wrapper">
          <div class="item">
            <h4 class="title">Unfair Advantage</h4>
            <ul class="contents">
              <li ng-repeat="item in canvas.items">{{}}</li>
            </ul>
          </div>
          <div class="item">
            <h4 class="title">Channels</h4>
            <ul class="contents">
              <li ng-repeat="item in canvas.items">{{}}</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="pure-u-1-5">
        <div class="item-wrapper">
          <div class="item">
            <h4 class="title">Customer Segments</h4>
            <ul class="contents">
              <li ng-repeat="item in canvas.items">{{}}</li>
            </ul>
          </div>
          <div class="item">
            <h4 class="title">Early Adopters</h4>
            <ul class="contents">
              <li ng-repeat="item in canvas.items">{{}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>