<div ng-include="'partials/navbar'"></div>

<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!</a></p>
</div>

<div class="row marketing">
  <div ng-repeat="thing in awesomeThings">
      <h4>{{thing.name}}</h4>
      <p>{{thing.info}}</p>
  </div>
</div>

<div class="footer">
  <p>♥ from the Yeoman team</p>
</div>

<section class="canvas">
  <div class="wrapper">
    <h3 class="title">{{canvas.title}}</h3>
    <div class="pure-g">
      <div class="pure-u-1-5">
        <div class="item-wrapper">
          <div class="item">
            <h4 class="title">Problem</h4>
            <ul class="contents">
              <li ng-repeat="item in canvas.items">{{}}</li>
            </ul>
          </div>
          <div class="item">
            <h4 class="title">Existing Alternatives</h4>
            <ul class="contents">
              <li ng-repeat="item in canvas.items">{{}}</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="pure-u-1-5">
        <div class="item-wrapper">
          <div class="item">
            <h4 class="title">Solution</h4>
            <ul class="contents">
              <li ng-repeat="item in canvas.items">{{}}</li>
            </ul>
          </div>
          <div class="item">
            <h4 class="title">Key Metrics</h4>
            <ul class="contents">
              <li ng-repeat="item in canvas.items">{{}}</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="pure-u-1-5">
        <div class="item-wrapper">
          <div class="item">
            <h4 class="title">Unique Value Proposition</h4>
            <ul class="contents">
              <li ng-repeat="item in canvas.items">{{}}</li>
            </ul>
          </div>
          <div class="item">
            <h4 class="title">High Level Concept</h4>
            <ul class="contents">
              <li ng-repeat="item in canvas.items">{{}}</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="pure-u-1-5">
        <div class="item-wrapper">
          <div class="item">
            <h4 class="title">Unfair Advantage</h4>
            <ul class="contents">
              <li ng-repeat="item in canvas.items">{{}}</li>
            </ul>
          </div>
          <div class="item">
            <h4 class="title">Channels</h4>
            <ul class="contents">
              <li ng-repeat="item in canvas.items">{{}}</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="pure-u-1-5">
        <div class="item-wrapper">
          <div class="item">
            <h4 class="title">Customer Segments</h4>
            <ul class="contents">
              <li ng-repeat="item in canvas.items">{{}}</li>
            </ul>
          </div>
          <div class="item">
            <h4 class="title">Early Adopters</h4>
            <ul class="contents">
              <li ng-repeat="item in canvas.items">{{}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>