<div class="wrapper">
	<div class="author">
    <h5>Author</h5>
    <ul>
      <li ng-repeat="(id, author) in canvas.author">
        <div class="picture">
          <img src="{{getUserPicture(id)}}" alt="user picture"/>
        </div>
        <div class="name" ng-click="adjust(id)">{{author.name}}</div>
      </li>
    </ul>
  </div>

  <div class="manage">
    <ul>
      <li><button ng-click="">Clone this canvas</button></li>
      <li><button ng-click="del()">Delete this canvas</button></li>
    </ul>
  </div>

  <div class="activity" ng-show="false" ng-clock>
    <h5>Activity</h5>
    <ul>
      <li ng-repeat="(id, activity) in canvas.activity">
        <div class="content">
          <span>{{activity.user.name}}</span>
          <span>{{activity.action}}</span>
          <span>{{activity.area}}</span>
          <span>{{activity.content}}</span>
          <span>{{activity.date}}</span>
        </div>
      </li>
    </ul>
  </div>
</div>