<div ng-include="'partials/navbar'"></div>
<section class="dashboard page">
  <div class="wrapper">
    <div class="canvases" ng-show="user">
      <h3>Your Canvases</h3>
      <div class="empty" ng-hide="user.canvas" ng-clock>
        <button ng-click="create()" class="big button">Create Canvas</button>
      </div>
      <ul class="user-canvas">
        <li ng-repeat="(id, canvas) in user.canvas">
          <h1>
            <a ng-href="/canvas/{{id}}"><span class="icon-logo"></span> {{canvas.title}}</a>
          </h1>
        </li>
      </ul>
    </div>
  </div>
</section>
<div ng-include="'partials/footer'"></div>