<div class="header" ng-controller="NavbarCtrl">
  <div class="wrapper">
    <ul class="nav nav-pills pull-right">
      <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
          <a ng-href="{{item.link}}">{{item.title}}</a>
      </li>
    </ul>

    <div class="wrapper">
      <div class="user" ng-show="user">
        <img src="{{user.picture}}" alt="user picture">
        <span class="name">{{user.name}}</span>
      </div>
      <button ng-click="auth.login('facebook', { scope: 'email' })" ng-clock ng-hide="user.uid">Login with Facebook</button>
      <button ng-click="logout()" ng-clock ng-show="user.uid">Logout</button>
      <button ng-click="create()" ng-clock ng-show="user.uid">Create New Canvas</button>
    </div>
  </div>
</div>