<div class="header" ng-controller="NavbarCtrl">
  <div class="wrapper">
    <div class="logo" ng-show="dashboard">CANVASES</div>
    <div class="logo" ng-hide="dashboard">
      <a ng-href="/dashboard">
        <span class="icon-chevron-left"></span>
        to DASHBOARD
      </a>
    </div>
<!--     <ul class="nav nav-pills pull-right">
      <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
          <a ng-href="{{item.link}}">{{item.title}}</a>
      </li>
    </ul>
 -->
    <div class="menu">
      <div class="user button" ng-show="user" ng-init="toggle=false" ng-click="toggle=!toggle">
        <img src="{{user.picture}}" alt="user picture">
        <span class="name">{{user.name}}</span>
        <div class="messageCount" ng-hide="!message||message.$getIndex().length===0">{{message.$getIndex().length}}</div>
        <ul class="message alert" ng-show="toggle">
          <li ng-hide="message.$getIndex().length!==0">You've got no new message</li>
          <li ng-repeat="(id, item) in message" ng-mouseover="check(id)">
            <img src="{{item.from.picture}}"/>
            <p>{{item.from.name}} {{item.type}}d canvas <a ng-href="/canvas/{{item.target.id}}">"{{item.target.title}}"</a> {{item.createAt | timeAgo}}</p>
          </li>
        </ul>
      </div>
      <button ng-click="auth.login('facebook', { scope: 'email' })" ng-clock ng-hide="user.uid">Login with Facebook</button>
      <button ng-click="logout()" ng-clock ng-show="user.uid">Logout</button>
      <button ng-click="create()" ng-clock ng-show="user.uid"><span class="icon-plus"></span> New Canvas</button>
    </div>
  </div>
</div>